--
-- PostgreSQL database dump
--

\restrict GsBhH8PQuKyhxA8f8EusbyWOg6scNmlhLvRKcZx4H63NeXzOV0CQO4f8E9R87yj

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SQL SCHEMA; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA "SQL SCHEMA";


ALTER SCHEMA "SQL SCHEMA" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: product_clicks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_clicks (
    id integer NOT NULL,
    product_id integer NOT NULL,
    store text NOT NULL,
    source_url text NOT NULL,
    user_ip text,
    user_agent text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.product_clicks OWNER TO postgres;

--
-- Name: product_clicks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_clicks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_clicks_id_seq OWNER TO postgres;

--
-- Name: product_clicks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_clicks_id_seq OWNED BY public.product_clicks.id;


--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id integer NOT NULL,
    product_id integer,
    image_url text NOT NULL,
    "position" integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_images_id_seq OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_images_id_seq OWNED BY public.product_images.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    store text,
    title text,
    price numeric,
    image_url text,
    colors text[],
    sizes text[],
    source_url text,
    last_seen timestamp without time zone DEFAULT now(),
    color character varying(50),
    style character varying(50),
    fit character varying(50),
    description text,
    original_price numeric(10,2),
    images text[],
    category character varying(50),
    color_sizes_map jsonb DEFAULT '{}'::jsonb,
    color_sizes jsonb
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: product_clicks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_clicks ALTER COLUMN id SET DEFAULT nextval('public.product_clicks_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images ALTER COLUMN id SET DEFAULT nextval('public.product_images_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Data for Name: product_clicks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_images (id, product_id, image_url, "position", created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: product_clicks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_clicks_id_seq', 10, true);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_images_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 2661, true);


--
-- Name: product_clicks product_clicks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_clicks
    ADD CONSTRAINT product_clicks_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_source_url_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_source_url_key UNIQUE (source_url);


--
-- Name: idx_color_sizes_map; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_color_sizes_map ON public.products USING gin (color_sizes_map);


--
-- Name: idx_products_color; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_color ON public.products USING btree (color);


--
-- Name: idx_products_color_sizes; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_color_sizes ON public.products USING gin (color_sizes);


--
-- Name: idx_products_fit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_fit ON public.products USING btree (fit);


--
-- Name: idx_products_source_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_products_source_url ON public.products USING btree (source_url);


--
-- Name: idx_products_style; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_style ON public.products USING btree (style);


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict GsBhH8PQuKyhxA8f8EusbyWOg6scNmlhLvRKcZx4H63NeXzOV0CQO4f8E9R87yj

